<% if post.has_like?(current_user) %>
  <%= link_to like_path(post), method: "DELETE", remote: true do %>
    <%= image_tag 'https://res.cloudinary.com/rent-an-instrument/image/upload/liked_icon_iyj0h1.png', class: 'post-icon liked', remote: true %>
  <% end %>
<% else %>
  <%= link_to likes_path(post), method: "POST", remote: true do %>
  <%= image_tag 'https://res.cloudinary.com/rent-an-instrument/image/upload/like-icon.png', data_like_target: "like", class: 'post-icon', remote: true %>
  <% end %>
<% end %>
<span id='likes-count'>
  <%= post.likes.count %>
</span>
